$body-background-color: #ffffff;
$sidebar-color: #f7f7f7;

$body-text-color: #333333;
$body-heading-color: #1d2d50;

$link-color: #e77500;
$nav-child-link-color: #555555;

$btn-primary-color: #e77500;

$search-background-color: #ffffff;
$search-result-preview-color: #666666;

$border-color: #dddddd;