<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Decision Making Experiment - Alert</title>
  <link href="/static/css/tacit-css.min.css" rel="stylesheet" type="text/css"></link>
</head>
<style>

.alert-wrap {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
}

.alert-message-container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 50%;
  width: 60%;
  font-size: 2.75vh;
  line-height: 1.5em;
}

</style>
<body>
  <div class="alert-wrap">

    <div class="alert-message-container">

      <!-- Header -->
      <h3 style="font-size: 1.5em; text-align: center; margin: 0 0 5px 0;">Attention</h3>

      <hr>

        <!-- Body -->
        <p>
          Please take a moment to review these three important notes as they <b>may affect your payment</b>:

          <ol>
            <li>During the experiment, please do not use the <b>BACK</b> or <b>REFRESH</b> buttons. This is to ensure that all workers complete the experiment only once. If you press one of these buttons, you will be directed to an error page and will not be able to complete the HIT.</li>
            <br>
            <li>Please make sure that you complete this HIT on your own and without help from others, ideally in a quiet room, and without any multitasking.</li>
            <br>
            <li>We will not compensate participants whose performance shows evidence of random responding or lack of engagement with the task. Please note that if we detect such behavior from your account, you may be permanently excluded from all of our future experiments.</li>
          </ol>

        </p>

      <!-- Button -->
      <form method="post">
        <center><button class="" type="submit" name="alert-check" value=1 style="font-size: 2.25vh; margin: 10px 0 0 0; padding: 0.25em 1em;">I understand</button></center>
      </form>


    </div>
  </div>

</body>
<script>
  window.scrollTo(0,0);
</script>
