<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Decision Making Experiment - Alert</title>
  <link href="/static/lib/jspsych-6.1.0/css/jspsych.css" rel="stylesheet" type="text/css"></link>
</head>
<style>

  .alert-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    position: fixed;
    top: 20%;
    left: 20%;
    right: 80%;
    width: 60%;
  }

  .alert-header {
    text-align: center;
    font-size: 36px;
    background-color: orange;
    border-radius: 8px;
  }

  .alert-body {
    text-align: center;
    padding: 0px 4px 0px 4px;
    font-size: 24px;
  }


</style>
<body>
  <div class="alert-container">

    <!-- Header -->
    <div class="alert-header"><b>Attention</b></div>

    <!-- Body -->
    <p class="alert-body">

      While completing this experiment, please do not use the <b>BACK</b> or <b>REFRESH</b> buttons. This is to ensure that all workers access the experiment only once.
      <br>
      <br>
      If you press one of these buttons, you will be directed to an error page and will not be able to complete the HIT.

    </p>

    <!-- Button -->
    <form method="post">
      <center><button class="" type="submit" name="alert-check" style="font-size:16px; border-radius: 4px" value=1>I understand</button></center>
    </form>


  </div>


</body>
