<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Decision Making Experiment - Completed</title>
	<link rel="stylesheet" href="/static/css/tacit-css.min.css"/>
</head>
<body>
	<div id="container-not-an-ad" class="media">
		<div class="media-body">
			<h2>Thank you for completing our experiment!</h2>
			The Niv Lab is grateful for your participation.

		</div>
		<iframe src='https://app.cloudresearch.com/TakeLaunchedSurvey/DynamicKey' width='100%' height='200'></iframe>
	</div>
</body>
</html>
