<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Decision Making Experiment - Complete</title>
  <link href="/static/css/tacit-css.min.css" rel="stylesheet" type="text/css"></link>
</head>
<style>

.complete-wrap {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
}

.complete-message-container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 50%;
  width: 60%;
  font-size: 2.75vh;
  line-height: 1.5em;
}

</style>
<body>
  <div class="complete-wrap">

    <div class="complete-message-container">

      <!-- Header -->
      <h3 style="font-size: 1.5em; text-align: center; margin: 0 0 5px 0;">Thank you!</h3>

        <br>
        <br>

        <!-- Body -->
        <p style="text-align: center;">
          The data has saved successfully. You can now close this window.
        </p>


    </div>
  </div>

</body>
<script>
  window.scrollTo(0,0);
</script>
