<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Decision Making Experiment - Completed</title>
	<link rel="stylesheet" href="/static/css/tacit-css.min.css"/>
</head>
<body>
	<div id="container-not-an-ad" class="media">
		<div class="media-body">
			<center><h1>Thank you for completing our experiment!</h1></center>

		</div>
		<center><iframe src='https://app.cloudresearch.com/TakeLaunchedSurvey/DynamicKey' width='80%' height='400'></iframe></center>
	</div>
</body>
</html>
