<!doctype html>
<!--
The consent.html displays the text of an IRB-approved consent form.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Decision Making Experiment - Informed Consent Form</title>
  <link rel="stylesheet" href="/static/css/tacit-css.min.css"/>
</head>
<body>

  <!-- Study headers -->
  <h1>CONSENT FORM</h1>

  <hr>
  <p>
    <b>TITLE OF RESEARCH:</b> Behavioral Studies of Learning and Decision-making
    <br>
    <b>PRINCIPAL INVESTIGATOR</b>: Yael Niv, Ph.D.
    <br>
    <b>PRINCIPAL INVESTIGATOR’S DEPARTMENT</b>: Psychology and the Princeton Neuroscience Institute
  </p>
  <hr>

  <!-- Intro paragraph -->
  <p>
    You are being invited to take part in a research study. Before you decide to participate in this study, it is important that you understand why the research is being done and what it will involve. Please take the time to read the following information carefully. Please contact the researcher if there is anything that is not clear or if you need more information.
  </p>

  <!-- Study purpose -->
  <h2>Purpose of the research:</h2>
  <p>
    We are looking to understand better how humans learn about the statistical structure of their environment, decide what choices to make under uncertainty, and learn from feedback. We are also interested in how reward feedback affects memory and attention, how mood influences how humans make decisions, and how learning and decision making processes relate to symptoms of mental illness that are generally common in the population (in healthy people as well).
  </p>

  <!-- Study duration -->
  <h2>Expected duration of participation:</h2>
  <p>
    <!-- Adapt for experiment -->
    This experiment should take between <font style="color:red">30-45 minutes</font> to complete.
  </p>

  <!-- Study procedures -->
  <h2>Study Procedures:</h2>
  <p>
    In this experiment, you will be presented with a series of visual stimuli on a computer screen and/or auditory stimuli via standard speakers or headphones and asked to perform simple decisions in response to these stimuli.
  </p>

  <!-- Risks or discomforts -->
  <h2>Risks or discomforts as a result of participation:</h2>
  <p>
    The activities in the study carry no risk as they only involve operating a desktop computer. The task involved in the experiment does require some mental effort.
  </p>

  <!-- Only for studies using questionnaires -->
  <p>
    This study includes questions related to mental health: about your emotions and reactions to being placed in certain situations, and the levels at which you may identify with certain thoughts or feelings. Some participants may find these questions troubling. The experimenters are not clinicians and not in a position to diagnose any disorders or offer medical advice. If the questions trouble you, we urge you to seek further advice or information from healthcare professionals. At the end of the questionnaires, and again at the completion of the experiment, we will provide you with resources for learning more about mental health conditions and for seeking support.
  </p>

  <p>
    Examples of such questions are:
    <ul>
      <li>Over the last 2 weeks, how often have you felt nervous, anxious, or on edge?</li>
      <li>Have you become sad, depressed or irritable for several days or more without really understanding why?</li>
      <li>Do you take disappointments so keenly that you can't put them out of your mind?</li>
  </ul>
  </p>

  <!-- Benefits -->
  <h2>Benefits as a result of participation:</h2>
  <p>
    There will be no direct benefit to you from this research (aside from the monetary compensation you will receive), except insofar as you may learn something about psychology and may derive satisfaction from knowing that your participation has advanced scientific understanding of human cognition and mental health. Importantly, the study staff will not make any clinical diagnosis based on results from this study.
  </p>

  <!-- Confidentiality / National Data Archive -->
  <h2>Confidentiality:</h2>
  <p>
    Your responses, after removal of any identifiable private information, could be used for future research studies or distributed to another investigator for future research studies, or shared as part of publication of the research study without additional informed consent from you. Data will be shared such that it cannot, in any way, be traced back to you.
  </p>

  <p>
    In particular, data from this study will be submitted to the National Institute of Mental Health Data Archive (NDA) at the National Institutes of Health (NIH). NDA is a large database where deidentified study data from many National Institute of Mental Health (NIMH) studies are stored and managed. Deidentified study data means that no personal information about you is included. Sharing deidentified study data helps researchers learn new and important things about mental health and substance use more quickly than before.
  </p>

  <p>
    Every researcher (and institutions to which they belong) who requests use of your deidentified study data must promise to keep your data safe and promise not to try to learn your identity. Experts at the NIH who know how to keep your data safe will review each request carefully to reduce risks to your privacy. Sharing your study data does have some risks, although these risks are rare. Your study data could be accidentally shared with an unauthorized person who may attempt to learn your identity. The study researchers will make every attempt to protect your identity.
  </p>

  <p>
    You may not benefit directly from allowing your study data to be shared with NDA. The study data provided to NDA may help researchers around the world learn more about mental health and substance use and how to help others who have problems with mental health and substance use. NIMH will also report to Congress and on its website about the different studies using NDA data. You will not be contacted directly about the study data you contributed to the NDA.
  </p>

  <!-- Compensation -->
  <h2>Compensation:</h2>
  <p>
    Participants will be compensated with total payment (base payment + bonus) coming to a range of 8-12 dollars per hour (or the relevant fraction for experiments that require less time).
  </p>

  <!-- Contact information -->
  <h2>Who to contact with questions:</h2>
  <p>
    1. Principal investigator:

    <ul style="list-style-type:none;">
      <li>Yael Niv, Ph.D.</li>
      <li>Princeton University</li>
      <li>Email: yael@princeton.edu</li>
    </ul>

  </p>

  <p>
    2. If you have questions regarding your rights as a research subject, or if problems arise which you do not feel you can discuss with the Investigator, please contact the Institutional Review Board at:

    <ul style="list-style-type:none;">
      <li>Assistant Director</li>
      <li>Office of Research Integrity and Assurance</li>
      <li>Email: irb@princeton.edu</li>
    </ul>
  </p>

  <hr>

  <!-- Consent -->
  <p>
    I understand the information that was presented and that:

    <blockquote>
      My participation is voluntary. Refusal to participate will involve no penalty or loss of benefits to which I am otherwise entitled. I may discontinue participation at any time without penalty or loss of benefits. I do not waive any legal rights or release Princeton University or its agents from liability for negligence.

    </blockquote>

    By clicking the box below, I hereby give my consent to be the subject of your research.
  </p>

  <center>
    <form method="post">

      <div class="recontact">
        <p>Would you like to be re-contacted for future studies?</p>
        <p>
          <input type="radio" name="future_contact" value="Yes">Yes
          <input type="radio" name="future_contact" value="No">No
        </p>
      </div>

      <button type="submit" name="subj_consent" value=1>I accept</button>
      <button type="submit" name="subj_consent" value=0>No thank you</button>

    </form>
  </center>

</body>
<style>
.recontact {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
</style>
</html>
