<!doctype html>
<!--
The consent.html displays the text of an IRB-approved consent form.
-->
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Decision Making Experiment - Informed Consent Form</title>
  <link rel="stylesheet" href="/static/css/tacit-css.min.css"/>
</head>
<body>
  <div id="container-consent">
    <div id="consent">
      <h1>CONSENT FORM</h1>
      <hr />
      <div class="legal well">
        <p>
          Hello! Thank you for taking the time to participate in this experiment. Below is a consent form that describes the nature of the experiment, what to expect, and how you will be measured. Please take the time to read this over before deciding to participate in this experiment. You may need to scroll down to read the whole form.
        </p>
        <p>
          <b>TITLE OF RESEARCH:</b> Behavioral Studies of Learning and Decision Making
        </p>
        <p>
          <b>INVESTIGATORS</b>: Yael Niv (PI), Angela Langdon, Angela Radulescu, Daniel Bennett, Sam Zorowitz
        </p>
        <p>
          The following informed consent is required by Princeton University for any person involved in a research study conducted by investigators at the University.  This study has been approved by the University's Institutional Review Board for Human Subjects.
        </p>
        <p>
          I understand that:
        </p>
        <ol>
          <li>I will be presented with a series of visual stimuli on a computer screen and/or auditory stimuli via standard speakers or headphones and asked to perform simple decisions in response to these stimuli.
            I will receive detailed instructions on how to perform the task, and there will be time for me to contact the experimenter to ask questions regarding the instructions, if needed.
            The activities in the study carry no risk to me as they only involve operating a desktop computer.
            The task involved in the experiment does require some mental effort.
            I will receive no direct benefit from this research, except in so far as I may learn something about psychology and may derive satisfaction from knowing that my participation has advanced scientific understanding of human cognition.
            I will receive compensation of at least the standard rate, $12/hour.
            I understand that the study staff will not make any clinical diagnosis based on results from this study.</li>

            <li>My participation is voluntary, and I may withdraw my consent and discontinue participation in the project at any time.  My refusal to participate will not result in any penalty.</li>

            <li>By indicating my consent, I do not waive any legal rights or release Princeton University, its agents, or you from liability for negligence.</li>
          </ol>
          <p>
            By clicking “I agree” below I am confirming that I am at least 18 years old and have read and understood this consent form.
          </p>
          <h2>CONTACT INFORMATION</h2>
          <p>
            Please save a copy of this information in case you have any questions about this research project.
          </p>
          <p>
            If you should have any technical problems either during the experiment or with approval/bonus payout afterwards, please email <a href="mailto:ccnp.turk2@gmail.com">ccnp.turk2@gmail.com</a> or call (609) 258-8179.
          </p>
          <ol>
            <li>TITLE OF RESEARCH: Behavioral Studies of Learning and Decision Making</li>

            <li>For answers to any questions you may have about this research, contact:<br>
              PRINCIPAL INVESTIGATOR: Yael Niv (<a href="mailto:yael@princeton.edu">yael@princeton.edu</a>)
            </li>

            <li>For answers to any questions you may have about your rights as a research subject, contact:<br>
              Assistant Director, Research Integrity and Assurance<br>
              Phone: (609) 258-8543<br>
              Email: <a href="mailto:irb@princeton.edu">irb@princeton.edu</a>
            </li>
          </ol>


          <button type="button" class="btn btn-default btn-sm" onClick="window.print();" style="background-color: #E8E8E8">
            <span class="glyphicon glyphicon-print"></span> Print a copy of this
          </button>
        </div>

        <hr />
        <h4>Do you understand and consent to these terms?</h4>
        <br />

        <center>
          <form method="post">

            <div class="recontact">
              <p>Would you like to be re-contacted for future studies?</p>
              <p>
                <input type="radio" name="future_contact" value="Yes">Yes
                <input type="radio" name="future_contact" value="No">No
              </p>
            </div>

            <button type="submit" name="subj_consent" value=1>I accept</button>
            <button type="submit" name="subj_consent" value=0>No thank you</button>

          </form>
        </center>

      </div>
    </div>
  </body>
  <style>
  .recontact {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }
  </style>
  </html>
