<!DOCTYPE html>
<html>


  <head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Goals</title>
    
  </head>


  <body>

    <div class="container">

      <div class="goal-display">

        <div>
          <h2 class="current-state">Current Goal</h2>
        </div>

        <div class="innerworkspace-top">
          <div class="holder" id="fixed-holder-a">  </div>
        </div>

      <div class="innerworkspace-bot">
        <div class="holder" id="fixed-holder-b">  </div>
        <div class="holder" id="fixed-holder-c">  </div>
      </div>

    </div>

      <div class="workspace">
        <div>
          <h2 class="current-state">Current State</h2>
        </div>

        <div class="innerworkspace-top">
          <div class="holder" id="demo-holder-a">  </div>
        </div>

        <div class="innerworkspace-bot">
          <div class="holder" id="demo-holder-b">  </div>
          <div class="holder" id="demo-holder-c">  </div>
        </div>

      </div>

      <div class="goal-display">

        <h2 class="current-state">Abandon Goal?</h2>


          <button id="large-red-button" class="red-button">Abandon!</button>


    </div>

    </div>


  </body>
  <script type="text/javascript" src="../js/utils.js"></script>
  <script type="text/javascript" src="../js/task.js"></script>

</html>
