<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Decision Making Experiment - Error</title>
        <link rel="stylesheet" href="/static/css/tacit-css.min.css"/>
    </head>
    <body>
        <div id="container-error">

            <div id="error">
                <h1>Sorry, there was an error</h1>
                <hr />

                <div class="alert alert-danger">
                {% if errornum == 1004 %}

                        <p>You don't have a workerId? What are you, a developer?</p>

                {% elif errornum == 1006 %}

                        <p>We are sorry you do not wish to complete this HIT.</p>
                        <p>Please return the HIT so someone else can perform the experiment.</p>

                {% elif errornum == 1008 %}

                        <p>Sorry, our records indicate that you have attempted to complete this HIT, but quit before finishing.</p>
                        <p>Because this is a psychology experiment, you can only complete this HIT once.</p>
                        <p>Please return the HIT so someone else can perform the experiment.</p>

                        <p>
                            If you would like to receive partial compensation or feel you
                            have reached this page in error, please email
                            <a href="mailto:{{contact_address}}">{{contact_address}}</a>
                            and send the following information:
                        </p>

                {% elif errornum == 1010 %}

                        <p>Sorry, our records indicate that you have already completed (or attempted to complete) this HIT.</p>
                        <p>Because this is a psychology experiment, you can only complete this HIT once.</p>
                        <p>Please release the HIT so someone else can perform the experiment.</p>

                        <p>
                            If you would like to receive partial compensation or feel you
                            have reached this page in error, please email
                            <a href="mailto:{{contact_address}}">{{contact_address}}</a>
                            and send the following information:
                        </p>

                {% else %}

                        <p>Sorry, there was an unexpected error in our processing of your HIT.</p>

                        <p>
                            If you would like to receive partial compensation or feel you
                            have reached this page in error, please email
                            <a href="mailto:{{contact_address}}">{{contact_address}}</a>
                            and send the following information:
                        </p>

                {% endif %}

                        <hr />
                        <p>
                            <b>Error</b>: {{ errornum }} <br />
                            <b>Description</b>: {{ errordesc }}<br />
                            {% if hitId %}<b>HITId</b>: #{{ hitId }}<br /> {% endif %}
                            {% if assignId %}<b>AssignmentId</b>: #{{ assignId }}<br /> {% endif %}
                            {% if workerId %}<b>WorkerId</b>: #{{ workerId }}<br /> {% endif %}
                        </p>

                </div>

                <hr />
            </div>
        </div>
    </body>
</html>
