<!DOCTYPE html>
<html>
<head>
<title>Get ID</title>

  <!-- Load libraries -->
  <script src="../static/lib/jquery-3.3.1/jquery.min.js"></script>
  <script src="../static/lib/jspsych-7.2.1/jspsych.js"></script>

  <!-- Load NivTurk plugins -->
  <script src="../static/lib/jspsych-7.2.1/plugins/plugin-survey-text.js"></script>
  <script src="../static/js/nivturk-plugins.js"></script>


  <!-- Load CSS styles -->
  <link href="../static/lib/jspsych-7.2.1/css/jspsych.css" rel="stylesheet" type="text/css"></link>
  <link href="../static/lib/jspsych-7.2.1/css/plugin-goal-selection.css" rel="stylesheet" type="text/css"></link>
  <link href="../static/lib/jspsych-7.2.1/css/plugin-goal-display.css" rel="stylesheet" type="text/css"></link>
  <link href="../static/lib/jspsych-7.2.1/css/plugin-goal-tutorial.css" rel="stylesheet" type="text/css"></link>

</head>
<body>
<script>

  // Display alert message on back/refresh.
  // https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onbeforeunload
  function verify_unload(e){
    e.preventDefault();
    (e || window.event).returnValue = null;
    incomplete_save();  // Saves incomplete data. 
    return null;
  };
  window.addEventListener("beforeunload", verify_unload);


  // Initialize jsPsych
  var jsPsych = initJsPsych({
    on_finish: function() {

      // Remove requirement to verify redirect
      window.removeEventListener("beforeunload", verify_unload);
        
      // run login
      login()
    }
  });

    // Initialize timeline with goal selection only
  var timeline = [GETSUBJECTID];


  // Execute timeline.
  jsPsych.run(timeline);

</script>
</body>
</html>
